<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
  </head>
  <body>
    <div class="email-form">
        <h1><%= message%></h1>
        <form class="email-form">
            <label>email</label>
            <input type="text" class="email"></input>
            <label>contents</label>
            <input type="text" class="contents"></input>
            <label>min</label>
            <input type="text" class="min"></input>
            <label>sec</label>
            <input type="text" class="sec"></input>
            <input type="submit" value="submit"></input>
        </form>
    </div>
  </body>
  <script>
    const emailForm = document.querySelector(".email-form");
    
    const submitBtn = emailForm.querySelector("input[type='submit']");

    submitBtn.addEventListener("click", (e) => {
        e.preventDefault();
        const emailInput = emailForm.querySelector(".email");
        const contentsInput = emailForm.querySelector(".contents");
        const minInput = emailForm.querySelector(".min");
        const secInput = emailForm.querySelector(".sec");
        console.log(emailInput)
        const email = emailInput.value;
        const contents = contentsInput.value;
        const min = minInput.value;
        const sec = secInput.value;
        const data = {
            email,
            contents,
            min,
            sec
        };
        fetch("/send-mail", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        }).then((res) => {
            console.log(res);
        })
    });
  </script>
</html>
